Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [45]:
ratings_movie = pd.read_csv('ratings.csv')
ratings_movie.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [51]:
filtered_raitings = ratings_movie[(ratings_movie['rating'] == 5.0)]
filtered_raitings.head(10)

    userId  movieId  rating   timestamp
0        1      296     5.0  1147880044
2        1      307     5.0  1147868828
3        1      665     5.0  1147878820
8        1     1237     5.0  1147868839
18       1     2632     5.0  1147878248
19       1     2692     5.0  1147869100
22       1     3569     5.0  1147879603
23       1     3949     5.0  1147868678
24       1     4144     5.0  1147868898
26       1     4325     5.0  1147878122

In [53]:
filtered_raitings['movieId'].value_counts().head(10)

318     39553
296     32169
356     25918
260     25804
2571    25482
527     24853
593     24801
858     24418
50      21585
2959    21486
Name: movieId, dtype: int64

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [3]:
data = pd.read_csv('power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [27]:
filtered_countries = data[ ((data['country']=='Lithuania' ) | (data['country']=='Latvia' ) | (data['country']=='Estonia'))
& ((data['category']== 4 ) | (data['category'] == 12 ) | (data['category'] == 21)) & ((data['year'] == 2005 ) | 
(data['year'] == 2006 ) | (data['year'] == 2007) | (data['year'] == 2008) | (data['year'] == 2009) | (data['year'] == 2010))] 

filtered_countries.head()

         country  year  quantity  category
10617    Estonia  2008       1.0         4
10618    Estonia  2007       0.0         4
10619    Estonia  2006       0.0         4
10620    Estonia  2005       1.0         4
11156  Lithuania  2008       1.0         4

In [28]:
filtered_countries[ filtered_countries.quantity > 0 ].sum()

country     EstoniaEstoniaLithuaniaLithuaniaLithuaniaEston...
year                                                   696607
quantity                                               240580
category                                                 5943
dtype: object

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [5]:
df = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', encoding='utf-8')[1]
df[:5]

,Unnamed: 0,Рубль,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,NaN,GBP/RUB,1012885,-,1012349,"0,05 %",00536,21.11.2020
1,NaN,EUR/RUB,903115,-,905155,"-0,23 %",-02040,21.11.2020
2,NaN,USD/RUB,762370,-,762676,"-0,04 %",-00306,21.11.2020
3,NaN,JPY/RUB,07341,-,07339,"0,03 %",00002,21.11.2020
4,NaN,CNY/RUB,116162,-,116127,"0,03 %",00036,21.11.2020

In [6]:
type(df)

pandas.core.frame.DataFrame